@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	@font-face {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400 500 600 700;
		src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
	}
}

@theme {
	--color-primary-100: #7209b7;
	--color-primary-50: #7209b780;
	--color-black-100: #353535;
	--color-black-75: #676767;
	--color-black-50: #9b9b9b;
	--color-black-25: #cdcdcd;
	--color-white-100: #fff;
	--color-white-98: #fafafa;
	--color-white-97: #f7f7f8;

	--text-button: 15px;
	--text-display: 32px;
	--text-body: 18px;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 16px;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}
